
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor:default;
}


body{
    /* background: #282828; */
    height: 100vh;
    overflow-x: hidden;
    
}

ul{
    list-style: none;
   
}

li{
    list-style: no;
}

/* write a custom class for tailwind component */

.circle{
    @apply h-3 w-3 rounded-[5000px] mx-2 border-[2px] 
                                border-solid border-[#242b2d];
}

.circle.filled{
    @apply bg-[#242b2d];
}

